@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


@media (min-width: 1681px) and (max-width: 1920px) {
  .shop-items-wrapper .product-item {
    width: 25% !important;
  }
}
.product-grid-wrapper img {
  min-height: 100%;
}

.sidebar .block.filter .filter-options .filter-options-content ol li label {
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 20px;
  margin: 0;
}

.sidebar .block.filter .filter-options .filter-options-content ol li:hover label {
  color: #fff;
  cursor: pointer;
}

.sidebar .block.filter .filter-options .filter-options-content ol li input:checked + label {
  background: #111;
  color: #fff;
}

.ioendewrer label {
  border: 2px solid #b4b4b4;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.ioendewrer input:checked + label {
  border: 2px solid #111;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dikenwihijner li input:checked + label {
  background: #111;
  color: #fff;
}

.ioendewrer label:hover {
  border-color: #000;
  transition: 0.2s ease-in-out;
}

.oijewiorewrew {
  cursor: pointer;
}

.dejhiwrre input {
  border: 1px solid #b4b4b4 !important;
}

.sfrewergrtrer {
  background: #f5f5f5;
}

.product-image-wrapper{
  height: auto !important;
}

.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary .action.dfrrewerqwqw:after{
  display: none !important;
}